
.bg_4{
    background-color: rgba(58,84,109,255);
}
.bg_green{
    background-color: rgba(26,188,156,255);
}
.f_color{
    color: rgba(26,188,156,255);
}

.bg-8{
    background-color: rgba(44,62,80,255);
}