
.col-9{
    background-color: rgba(44,62,80,255);
    height: 50px;
}
.col-1{
    background-color: rgba(44,62,80,255);
    height: 50px;
}
.col-6,
.col-3{
    height: 200px;
}
.col{
    background-color: rgba(255,255,255,255);
    height: 100px;
}
.col-8,
.col-2{
    height: 200px;
}
.g-50{
    height: 50px;
}
.g-100{
    height: 100px;
}
.h-200{
    height: 200px;
}
.col-4{
    background-color: rgba(58,84,109,255);
}
.col-2{
    background-color: rgba(255,255,255,255);
}
.col-12{
    height: 50px;
    background-color: rgba(26,188,156,255);
}
.bg-1{
    background-color: rgba(186,75,99,255);
}
.bg-2{
    background-color: rgba(30,164,182,255);
}
.bg-3{
    background-color: rgba(20,15,15,255);
}
.bg-4{
    background-color: rgba(28,131,193,255);
}
.bg-5{
    background-color: rgba(14,56,181,255);
}
.bg-6{
    background-color: rgba(204,178,163,255);
}
.bg{
    background-color: rgba(26,188,156,255);
}
.bg-7{
    background-color: rgba(255,255,255,255);
}
.bg-8{
    background-color: rgba(44,62,80,255);
}